BASE_URL=http://localhost:5065
GOOGLE_WEB_CLIENT_ID=REPLACE_ME.apps.googleusercontent.com
GOOGLE_SERVER_CLIENT_ID=REPLACE_ME.apps.googleusercontent.com
MAPS_WEB_API_KEY=REPLACE_ME
ENCRYPTION_KEY=REPLACE_ME
MAPS_CLOUD_MAP_ID=REPLACE_ME